[Unit]
Description=Apache web server on port %i etcd registration
Requires=apache@%i.service
After=apache@%i.service
BindsTo=apache@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c '\
  while true; do \
    curl -f ${COREOS_PUBLIC_IPV4}:%i; \
    if [ $? -eq 0 ]; then \
      /bin/etcdctl set "/vulcand/upstreams/u1/endpoints/apache-${COREOS_PUBLIC_IPV4}-%i" http://${COREOS_PUBLIC_IPV4}:%i --ttl 30; \
    else \
      /bin/etcdctl rm "/vulcand/upstreams/u1/endpoints/apache-${COREOS_PUBLIC_IPV4}-%i"; \
    fi; \
    sleep 20; \
  done'
ExecStop=/bin/etcdctl rm "/vulcand/upstreams/u1/endpoints/apache-${COREOS_PUBLIC_IPV4}-%i"

[X-Fleet]
X-ConditionMachineOf=apache@%i.service