[Unit]
Description=Nginx web server on port %i etcd registration
Requires=nginx@%i.service
After=nginx@%i.service

# Bindings
BindsTo=nginx@%i.service

[Service]
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c " \
  /bin/etcdctl set \"/vulcand/upstreams/nginix/endpoints/ngnix-service\" http://$COREOS_PUBLIC_IPV4:%i; \
  /bin/etcdctl set \"/vulcand/hosts/$COREOS_PUBLIC_IPV4/locations/home/path\" '/.*'; \
  /bin/etcdctl set \"/vulcand/hosts/$COREOS_PUBLIC_IPV4/locations/home/upstream\" nginix \
  "
ExecStop=/bin/sh -c " \
  /bin/etcdctl rm /vulcand/upstreams/nginix/endpoints/ngnix-service \
  "

[X-Fleet]
# Schedule on the same machine as the associated Nginx service
X-ConditionMachineOf=nginx@%i.service