[Unit]
Description=Nginx web front-end on port %i
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull nginx
ExecStart=/usr/bin/docker run --rm --name nginx-%i -p %i:80 nginx
ExecStop=/usr/bin/docker stop nginx-%i
 
[X-Fleet]
X-Conflicts=nginx@*.service
