[Unit]
Description=Register for Vulcan
Requires=vulcan.service
After=vulcan.service
BindsTo=vulcan.service

[Service]
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStartPre=/bin/etcdctl set "/vulcand/hosts/${COREOS_PUBLIC_IPV4}/locations/home/path" '/.*'
ExecStartPre=/bin/etcdctl set "/vulcand/hosts/${COREOS_PUBLIC_IPV4}/locations/home/upstream" nginx
#ExecStartPre=/bin/etcdctl set "/vulcand/hosts/${COREOS_PUBLIC_IPV4}/locations/home/upstream" apache
ExecStop=/bin/etcdctl rm "/vulcand/hosts/${COREOS_PUBLIC_IPV4}"

[X-Fleet]
X-ConditionMachineOf=vulcan.service