[Unit]
Description=Vulcan
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=20s
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=/bin/etcdctl set "/vulcand/hosts/${COREOS_PUBLIC_IPV4}/locations/home/path" '/.*'
ExecStartPre=/bin/etcdctl set "/vulcand/hosts/${COREOS_PUBLIC_IPV4}/locations/home/upstream" nginx
#ExecStartPre=/bin/etcdctl set "/vulcand/hosts/${COREOS_PUBLIC_IPV4}/locations/home/upstream" apache
ExecStartPre=-/usr/bin/docker kill vulcan1
ExecStartPre=-/usr/bin/docker rm vulcan1
ExecStartPre=/usr/bin/docker pull mailgun/vulcand
ExecStart=/usr/bin/docker run --rm --name vulcan1 -p 80:80 -p 8182:8182 mailgun/vulcand /go/bin/vulcand -apiInterface=0.0.0.0 -interface=0.0.0.0 -etcd=http://${COREOS_PUBLIC_IPV4}:4001 -port=80 -apiPort=8182
ExecStop=/usr/bin/docker stop vulcan1
ExecStop=/bin/etcdctl rm "/vulcand/hosts/${COREOS_PUBLIC_IPV4}"

[X-Fleet]
X-Conflicts=vulcan.service
MachineMetadata=region=main